<!--
Project Name: Lights On
Filename: layout.html
Title: Common layout html 
Designed & Developed by
    Muhilan
    Naveen
    Raghava
GitHub: @raghavtwenty
Date Created: March 15, 2023 | Last Updated: August 7, 2024
Language: HTML | Version: 5
-->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/style.css') }}">
	<title>Lights On</title>
</head>
<body>
	{% block body %}
	{% endblock %}
	<footer>
		<br>
		© Designed & Developed by Muhilan, Naveen, Raghava 
		<br> 
		Coimbatore Institute of Technology 
		<br> 
		Github: <a href="https://github.com/raghavtwenty">@raghavtwenty</a>
		<br>
		Last Updated: August 5, 2023 | Version Info: 2.05082024 | Public Release
		<br><br>
	</footer>
</body>
</html>
